body{
    background-color: #0f3150;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0%;
    box-sizing: border-box;

}

.tot{
    position: relative;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outer{
    margin: 60px 50px 50px;
    height: 650px;
    width: 400px;
    border-radius: 15px;
    /* background: linear-gradient(145deg, #103456, #0e2c48); */
    background-color: #032544;
    box-shadow:  9px 9px 18px #061420,
                -9px -9px 18px #184e80;
}

.outer2{
    margin: 105px 0 0 5px;
    height: 640px;
    width: 390px;
    border-radius: 15px;
    background: #103252;
    box-shadow: inset 7px 7px 14px #061421,
                inset -7px -7px 14px #1a5083;
}



.inner{
    position: relative;
    height: 200px;
    width: 300px;
    top: 10%;
    left: 50%;
    margin: -100px 0 0 -150px ;
    border-radius: 10px;
    background: #0F3150;
    box-shadow: inset 9px 9px 18px #061420,
                inset -9px -9px 18px #184e80;

}



/* 
.outer2{
    margin: 110px 0 0 10px;
    height: 630px;
    width: 380px;
    border-radius: 15px;
    background: #103252;
    box-shadow: inset 7px 7px 14px #061421,
                inset -7px -7px 14px #1a5083;
} */


/* 
.sss{
    content: '';
    position: absolute;
    height: 620px;
    width: 380px;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    margin: -320px 0 0 -190px;
    background-color: #5c1633;
    box-shadow:  50px 50px 100px #0a2237,
                -50px -50px 100px #144069;
} */
