@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');

body{
    background-color: #0f3150;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0%;
    box-sizing: border-box;

}

.tot{
    position: relative;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.outer{
    margin: 60px 50px 50px;
    height: 650px;
    width: 400px;
    border-radius: 15px;
    /* background: linear-gradient(145deg, #103456, #0e2c48); */
    background-color: #032544;
    box-shadow:  9px 9px 18px #061420,
                -9px -9px 18px #184e80;
}

.outer2{
    margin: 105px 0 0 5px;
    height: 640px;
    width: 390px;
    border-radius: 15px;
    background: #103252;
    box-shadow: inset 7px 7px 14px #061421,
                inset -7px -7px 14px #1a5083;
}



.inner{
    position: relative;
    height: 200px;
    width: 300px;
    top: 10%;
    left: 50%;
    margin: -100px 0 0 -150px ;
    border-radius: 10px;
    background: #0F3150;
    transition: all 0.9s cubic-bezier(0.57, -1.38, 0.27, 1.55);
    box-shadow: inset 9px 9px 18px #215381,
                inset -9px -9px 18px #061420;

}

#timee{
    user-select: none;
    position: relative;
    color: #6691ac; /*#9a9a9a*/
    font-family: 'Merriweather', serif;
    top: 45%;
    left: 50%;
    height: 50px;
    width: 150px;
    font-size: 30px;
    word-spacing: 5px;
    margin: 0 0 0 -120px;
    text-shadow: -3px 0px 2px #061421,0px -3px 2px #061421,0px 3px 2px #061421,3px 0px 2px #061421;
    transition: all 0.9s cubic-bezier(0.57, -1.38, 0.27, 1.55);
}

.pallet{
    position: relative;
    display: flex;
    top: 10%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

p{
    margin: 0 0 5px 0;
    line-height:50px;
    color: #459bae;
    width: 96%;
    height: 50px;
    border: 2px solid #95d2df;
}

h4{
    font-size: 30px;
    font-family: 'Merriweather', serif;
    color: #459bae;
}
